.menuList {
  background-image: url("./homeBack.jpg"); /* Path to your image */
  background-size: cover; /* Make sure the image covers the whole container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed;
  height: 100vh; /* Full viewport height */
  width: 100vw;
  z-index: -1;
  /* border: 2px solid rgb(252, 192, 192); */
  display: flex;
  justify-content: center;
}

.foodWrapper {
  padding: 2px 28px;
  margin-top: 150px;
  border-radius: 15px;
  color: white;
  opacity: 0.9;
  background-color: black;
  height: 80vh;
  width: 90vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.foodItem {
  width: 490px;
  height: 200px;
  border-radius: 15px;
  background-color: white;
  margin: 15px;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
  /* width: 100%; */
}
.foodItem img {
  width: 175px;
  height: 175px;
  border-radius: 15px;
}
.foodItemRight {
  width: 55%;
}

.itemsLower {
  display: flex;

  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding-left: 5%;
}
.itemsLower h1 {
  font-size: 25px;
}
